@model Domain.Boundary.Requests.PostCreationRequest

@{
    ViewData["Title"] = "Post | Create";
}

<h4>Create a Post</h4>

@using (Html.BeginForm("Create", "Post", FormMethod.Post, new {encType = "application/json", name = "myform"}))
{
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Title</label>
        <input type="text" asp-for="Title" class="form-control" placeholder="Enter post title">
    </div>

    <div class="mb-3">
        <label asp-for="Author" class="form-label">Author</label>
        <input asp-for="Author" type="text" class="form-control" placeholder="Enter post author">
    </div>

    <div class="mb-3">
        <label asp-for="Content" class="form-label">Post Content</label>
        <textarea asp-for="Content" class="form-control"  rows="3"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="Categories" class="form-label">Category</label>
        <div>
            @Html.EditorFor(m => m.CategorySelectionViewModel.Categories, new {@class = "form-control"})
        </div>
    </div>
    
    <div class="mb-3">
        <label aps-for="Category" class="form-label">Tags</label>
        <input type="text" class="form-control" placeholder="Enter post tags">
    </div>

    <input type="submit" name="Save">
}