@model IEnumerable<Domain.Entities.Post>
@{
    ViewData["Title"] = "Post | List";
}

<h4>Available a Posts</h4>
<a asp-controller="Post" asp-action="Create">Create New Post</a>
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Categories</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var post in Model)
    {
        <tr>
            <td>@post.Title</td>
            <td>@post.Author</td>
            <td>@post.PostCategories</td>
            <td>
                <a>edit</a>
                <a>view</a>
                <a>delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>