@{
    ViewData["Title"] = "Home Page";
}

<h4>Create a Post</h4>

<form>
    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <input type="text" class="form-control" placeholder="Enter post title">
    </div>
        
    <div class="mb-3">
        <label aps-for="Author" class="form-label">Author</label>
        <input type="text" class="form-control"  placeholder="Enter post author">
    </div>
        
    <div class="mb-3">
        <label aps-for="Content" class="form-label">Post Content</label>
        <textarea class="form-control"  rows="3"></textarea>
    </div>
        
    <div class="mb-3">
        <label aps-for="Category" class="form-label">Category</label>
        <input type="text" class="form-control" placeholder="Enter post title">
    </div>
        
    <div class="mb-3">
        <label aps-for="Category" class="form-label">Tags</label>
        <input type="text" class="form-control" placeholder="Enter post tags">
    </div>
        
    <input type="submit" name="Save">

</form>