@model Infrastructure.Shared.Wrapper.Result<IList<Domain.Boundary.Responses.PostResponse>>
@{
    ViewData["Title"] = "Post | List";
}

<h4>Available a Posts</h4>
<a asp-controller="Post" asp-action="Create">Create New Post</a>
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Categories</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var post in Model.Data)
    {
        <tr>
            <td>@post.Title</td>
            <td>@post.Author</td>
            <td>
                <a asp-action="Edit" asp-controller="Post" asp-route-postId="@post.PostId">edit</a>|
                <a asp-action="Edit" asp-controller="Post" asp-route-postId="@post.PostId">view</a>|
                <a>delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>