@model Infrastructure.Shared.Wrapper.Result<IList<Domain.Boundary.Responses.CategoryResponse>>
@{
    ViewData["Title"] = "Category | List";
}

<h4>Available a Categories</h4>
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model.Data)
    {
        <tr>
            <td>@category.Title</td>
            <td>@category.Author</td>
            <td>
                <a>edit</a>
                <a>view</a>
                <a>delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>